.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

header {
  position: relative;
}

#search button:nth-of-type(1) {
  position: absolute;
  right: 10px;
}

#search {
  width: 100%;
  position: relative;
  text-align: left;
  padding: 30px 10px;
}

#search fieldset {
  position: relative;
  padding: 0 10px;
  display: inline-block;
  width: 70%;
}

#search fieldset .find-btn {
  position: absolute;
  top: 0px;
  /* right: 38px; */
  right: 10px;
  padding: 7px;
}

a:hover,
#search fieldset .find-btn:hover,
#search fieldset .x:hover,
#search button:hover,
.dropdown strong:hover {
  background: #f1f1f1;
}

a:active,
#search fieldset .find-btn:active,
#search fieldset .x:active,
#search button:active,
.dropdown strong:active {
  background: #b8b6b6;
}

#search fieldset .find-btn svg path {
  fill: #d5d5d5;
}

#search fieldset .x {
  display: none;
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 7px;
  cursor: pointer;
}

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  border: 1px solid #d5d5d5;
  background: #fff;
  font-size: 14px;
}

input:focus {
  outline: none;
}

#search input {
  width: 100%;
  padding-left: 10px;
  height: 32px;
  line-height: 32px;
  color: #797979;
}

#search button {
  position: absolute;
  right: 50px;
  background-color: inherit;
  border: none;
  display: inline-block;
  height: 30px;
  line-height: 34px;
  padding: 0 7px;
}

div.list {
  /* flex: 0 0 25%; */
  /* flex-grow: 1; */
  position: relative;
  width: 100%;
  min-height: 1px;
  display: flex;
}

div.main-container {
  flex-direction: column;
  display: flex;
  height: 75vh;
  width: 100%;
}

.content-wrapper {
  flex-direction: column;
  display: flex;
}

.overflow-container {
  flex: 1;
  overflow: auto;
}

.overflow-content {
  /* height: 500px; */
}

.overflow-auto {
  overflow: auto;
}

div.list header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 10px 10px 40px;
  border-bottom: 1px solid #2f2f2f;
}

.dropdown {
  position: relative;
  width: 96px;
}

.dropdown strong {
  display: inline-block;
  position: relative;
  font-size: 12px;
  line-height: 26px;
  color: #797979;
  cursor: pointer;
  z-index: 2;
  text-align: left;
  width: 100%;
}

.dropdown strong::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #797979 transparent transparent transparent;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 9px;
}

.dropdown ul {
  display: none;
  position: absolute;
  border: 1px solid #e2dfdf;
  width: 100%;
  padding: 26px 0px 0px;
  top: 0px;
  left: 0px;
  border-radius: 2px;
  background: #fff;
  text-align: left;
}

.dropdown ul.on {
  display: initial;
}

.dropdown > ul a {
  display: block;
  font-size: 12px;
  line-height: 26px;
  color: #2f2f2f;
  text-decoration: none;
}
